$background: #333;
$tweetBackground: #fff;
$textColor: #222;
$userNameColor: #b1c1ce;

html {
   height: 100%;
   display: block;
   position: relative;
   padding: 0;
   margin: 0;
}
body, html {
    min-height: 100%;
    display: block;
    font-family: 'Libre Franklin',Helvetica,Arial,sans-serif;
    background-color: $background;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.hashTag {
    display: block;
    color: $tweetBackground;
    text-align: center;
    transform: rotate(-90deg);
    position: absolute;
    left: -100px;
    top: 240px;
    line-height: 40px;
    font-size: 70px;
}

#tweetContainer {
    padding: 10px 10px 10px 130px;
}

.tweet {
    color: $textColor;
    font-size: 25px;
    padding: 12px 12px 12px 18px;
    background-color: $tweetBackground;
    margin: 10px 10px 90px 10px;
    border-radius: 25px;
    position: relative;
    transition-property: margin, opacity;
    transition-duration: 0, 0;
    transition-timing-function: ease-out, ease-out;

    .hashtag, .mentioned {
        color: #0084B4;
    }

    .user {
        position: absolute;
        bottom: -40px;
        color: $userNameColor;
    }

    .usrImage {
        $imgPos: 10px;
        position: absolute;
        bottom: -60px;
        border-radius: 5px;
        height: 48px;
        width: 48px;
        display: block;
    }

    .tick {
        $tickHeight: 48px;
        display: block;
        position: absolute;
        height: $tickHeight;
        width: 25px;
        bottom: ($tickHeight - 10px) * -1
    }

    &.odd {
        margin-left: 130px;

        .usrImage {
            right: 88px;
        }

        .user {
            right: 145px;
        }

        .tick {
            background: linear-gradient(118deg, white 0%, white 57%, rgba(255, 255, 255, 0) 59%, rgba(255, 255, 255, 0) 100%);
            border-radius: 0px 0px 0px 2px;
            right: 50px;
            transform: rotate(10deg);
        }
    }

    &.even {
        margin-right: 130px;

        .usrImage {
            left: 88px;
        }

        .user {
            left: 145px;
        }

        .tick {
            background: linear-gradient(240deg, white 0%, white 57%, rgba(255, 255, 255, 0) 59%, rgba(255, 255, 255, 0) 100%);
            border-radius: 0px 0px 2px 0px;
            left: 50px;
            transform: rotate(-10deg);
        }
    }

    .mediaImage {
        max-height: 200px;
        display: block;
        border-radius: 5px;
        border: 1px solid #bdbdbd;
        margin: 5px 0;
    }
}